* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container {
    background-image: url('../assets/login-bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.error-login-message {
    text-align: center;
    background-color: white;
    padding: 8px;
    animation-name: error;
    animation-duration: 4s;
    color: red;
    opacity: 0;
}

@keyframes error {
    0% {opacity: 1;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.login-header {
    text-align: center;
}

.login-header h1 {
    font-size: 5rem;
    margin-bottom: -15px;
    color: rgb(250, 250, 75);
}

.login-header h3 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 2rem;
    border-bottom: 3px solid rgb(250, 250, 75);
    font-weight: 300;
    padding: 0 8px;
}

.login-body {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid rgb(250, 250, 75);
    background-color: blue
}

.input-group {
    margin-bottom: 10px;
}

form {
    padding: 30px 50px;
}

form h1 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.input-group input {
    width: 100%;
    height: 30px;
    border: none;
    margin-top: 8px;
    padding: 8px 10px;
}

.input-group label {
    font-weight: bold;
    text-transform: uppercase;
}

.input-group button {
    text-transform: uppercase;
    display: block;
    padding: 8px;
    margin: 0 auto;
    border: none;
    background-color: rgb(250, 250, 75);
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.input-group button:hover {
    opacity: 0.9;
}


/* homepage style css */




/* dashboard styling css */

