.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 400px;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal .modal-content form {
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(231, 231, 231);
    display: block;
    width: 90%;
    margin: 50px auto 20px auto;
    padding: 10px 20px;
    color: black;
    border-radius: 2px;
    text-align: right;
}

.modal .modal-content form .input-group {
    width: 100%;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
}
.modal .modal-content form .input-group input {
    width: 100%;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
}

.modal .modal-content form .input-group LABEL {
    display: block;
    text-transform: capitalize;
    text-align: left;
    margin: 8px 0;
    font-weight: 500;
    padding-left: 5px;
}

.modal .modal-content form button {
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    background-color: yellow;
    color: blue;
    font-weight: bold;
}



